__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
.ipynb_checkpoints/

output*/
outputs/
logs/
checkpoints/
adapters_ckpt/
vaes_ckpt/
pretrain_model/
Med_datasets/

*.pth
*.pt
*.ckpt
*.tar
*.tar.gz
*.zip
*.npy
*.npz
